/*Structure*/
body{
    background:rgb(251, 243, 233);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#content{
    background: rgb(239, 208, 169);
    width: 80%;
    margin:auto;
    padding: 5px 5px;
    border-radius: 5px;
}
/*Typography*/
h1{
    color:rgb(108, 68, 20);
}
h2{
    color:rgb(172, 109, 32);
}
h3{
    color:rgb(172, 109, 32);
}
