/*Structure*/
body {
    background:goldenrod;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Navigation*/
a{
    text-decoration:none;
    background:black;
    color:white;
    padding: 5px;
    border-radius: 5px;
}