/*Structure*/
body{
    background:goldenrod;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#content{
    background:black;
    width: 85%;
    margin:auto;
    padding: 6px 6px;
    border-radius: 6px;
}