/*Structure*/
body {
    background:goldenrod;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Navigation*/
a{
    text-decoration:none;
    background:black;
    color:white;
    padding: 5px;
    border-radius: 5px;
}

#content{
    background: rgb(217, 176, 125);
    width: 80%;
    margin:auto;
    padding: 5px 5px;
    border-radius: 5px;
}