/*Structure*/

body {
    background:goldenrod;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#content{
    background: rgb(235, 213, 189);
    width: 90%;
    margin:auto;
    padding: 5px 5Spx;
    border-radius: 4px;
}

/*Navigation*/
#content a{
    text-decoration:none;
    background:black;
    color:white;
    padding: 4px;
    border-radius: 4px;
    margin:auto;
}

#content a:hover{
    background: grey;
}

/*Table*/
table {
    border-collapse: collapse;
}

th,
td{
    border: 1px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

th {
    background: whitesmoke;
}

/*Images*/
img{
    border: black;
    padding: 5px;
}
