/*Structure*/
body {
    background-color: antiquewhite;
}


#main-content {
    background-color: rgba(198, 186, 153, 0.758);
    padding: 5px;
}

.col1of2 {
    background-color:antiquewhite;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

/*Navigation*/
#main-nav ul {
    padding-left: 0;
}

#main-nav li {
    list-style-type: none;
    padding: 5px;
    background-color:lightcoral;
    border-bottom: 1px solid cadetblue;
    border-top: 1px solid cadetblue;
    border-left: 1px solid cadetblue;
    border-right: 1px solid cadetblue;
    text-align:center;
}

#main-nav a {
    text-decoration: none;
    color:black;
}

/*Typography*/
#main-header h1 {
    color: cadetblue;
}

body {
    font-family:Arial, Helvetica, sans-serif;
}

#main-header h1 {
    text-align:center;
}


/*Larger Resolutions*/
@media (min-width:900px) {
    #main-nav ul, .flex-container{
        display:flex;
    }

    #main-nav li, .col1of2 {
        flex:1;
    }
}