/*Structure*/
body {
    background-color:rgb(254, 252, 243);

}
#main-header {
    background-color:rgb(254, 252, 243);
}

#main-content {
    background-color: blanchedalmond;
    padding: 5px;
}

.col1of2 {
    background-color:antiquewhite;
    padding: 5px;
    margin: 5px;
    border-radius:2px;
}

#side-links {
    background-color:blanchedalmond;
}

#article {
    background-color: lightblue;
}

/*Navigation*/
#main-nav ul {
    padding-left: 0;
}

#main-nav li {
    list-style-type: none;
    padding: 5px;
    background-color:lightcoral;
    border-bottom: 1px solid cadetblue;
    border-top: 1px solid cadetblue;
    border-right: 1px solid cadetblue;
    border-left: 1px solid cadetblue;
    text-align: center;
}

#main-nav a {
    text-decoration: none;
    color:white;
}

/*Typography*/

body{
    font-family: Arial, Helvetica, sans-serif;
}

#main-header h1 {
    text-align:center;
    color:cadetblue;
}

#main-content h2 {
    color:white;
}

/*Larger Resolutions*/
@media (min-width: 900px) {
    #main-nav ul,
    .flex-container {
        display: flex;
    }

    #main-nav li, 
    .col1of2 {
        flex: 1;
    }

    #article {
        display: flex;
        flex-direction: column;
    }
    .col1of2 {
        width: 100%;
    }
    #side-links {
        width: 200px;
        background-color: cornflowerblue;
        padding: 5px;
        box-sizing: border-box;
    }

    #main-content {
        flex: 1;
        padding-left: 10px;
    }
}