/*Header*/
body {
    background: rgb(6, 36, 126);
    background: linear-gradient(90deg, rgba(6, 36, 126, 1) 0%, rgba(25, 128, 223, 1) 100%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#logo {
    padding-left: 50px;
}

#list {
    padding-right: 50px;
}

#list a {
    text-decoration: none;
    color: white;
}

#list li {
    list-style-type: none;
    display: inline;
    padding-left: 15px;
    color: white;
}

#underline {
    text-decoration: underline;
    color: white;
}


/*Main Content*/

#color {
    display: flex;
    justify-content: space-between;
}

#picture {
    width: 390px;
    height: 390px;
    border: 5px solid white;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 65px;
    margin-top: 110px;
    z-index: 2;
    position: relative;
}

#picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: circle(50% at center);
    z-index: 2;
    position: relative;
}

/*Main Content*/

#main {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 2rem;
}

#about {
    width: 50%;
    height: min-content;
    margin-left: 0px;
    color: white;
}

#pic {
    width: 390px;
    height: 390px;
    border: 5px solid white;
    border-radius: 50%;
    overflow: hidden;
    z-index: 2;
    position: relative;
}

#pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: circle(50% at center);
    z-index: 2;
    position: relative;
}

#con {
    padding-left: 10px;
}

#con2 {
    padding-left: 10px;
}

#con3 {
    padding-left: 10px;
}

/*Buttons*/

.btn-container {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    padding-left: 10px;
    justify-content: flex-start;
    gap: 1rem;
}

.btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-2:hover {
    cursor: pointer;
}

.btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
}

.btn-color-2 {
    background: none;
}

.btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

/*Menu*/
.off-screen-menu {
    background: rgb(6, 36, 126);
    background: linear-gradient(90deg, rgba(6, 36, 126, 1) 0%, rgba(25, 128, 223, 1) 100%);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: 0.3s ease;
    z-index: 1000;
}

.off-screen-menu.active {
    right: 0;
}

.off-screen-menu ul {
    list-style: none;
}

.off-screen-menu a {
    text-decoration: none;
    color: white;
}

.off-screen-menu a:hover {
    color: lightgray;
}

/*Ham Menu */
.ham-menu {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
    z-index: 1100;
    margin-right: 40px;
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span {
    background-color: white;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/*Resolutions*/

@media (max-width:900px) {
    #footer {
        display: none;
    }

    #list {
        display: none;
    }

    #main {
        flex-direction: column;
        align-items: center;
    }

    #pic {
        width: 300px;
        height: 300px;
        border: 5px solid white;
        border-radius: 50%;
    }

    #pic img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        clip-path: circle(50% at center);
    }

    #about {
        text-align: left;
        margin-left: 10px;
        width: 400px;
    }

}

@media (min-width: 900px) {
    .ham-menu {
        display: none;
    }
}