/*Header*/

body {
    background-image: url('images/IMG_6259.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
  }

header{
    display:flex;
    justify-content:space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#list a{
    text-decoration: none;
    color:white;
}

#list li {
    list-style-type: none;
    display:inline;
    padding-left:15px;
    color:white;
}

#underline {
    text-decoration: underline;
    color:white;
}

/*Main Content*/

#main-content {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top:130px;
    margin-left:90px;
}

#main-content h1{
    font-weight: 400;
    font-size: 70px;
    color:white;
}

#main-content p{
    font-size:20px;
    padding-top:5px;
    margin-top:10px;
    color:white;
}


.bold {
    font-weight: 500;
}

/*Smaller Resolutions*/

@media (max-width:900px) {

    #list {
        display:none;
    }

    #main-content h1 {
        font-size: 50px;
        margin-left:-40px;
    }

    #main-content p {
        margin-left:-40px;
    }

    #main-content {
        margin-top:90px;
    }

    body {
        background-image: url('images/IMG_6259.jpg');
        background-size:auto;
        background-position: center;
      }


}

/*Menu*/
.off-screen-menu {
    background-image: url('images/IMG_6259.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: 0.3s ease;
    z-index: 1000;
}

.off-screen-menu.active {
    right: 0;
}

.off-screen-menu ul {
    list-style: none;
}

.off-screen-menu a {
    text-decoration: none;
    color: white;
}

.off-screen-menu a:hover {
    color:lightgray;
}

/* ham menu */
.ham-menu {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
    z-index: 1100;
    margin-right:40px;
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span {
    background-color:white;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);

    
}

@media (min-width: 900px) {
    .ham-menu {
        display: none;
    }
}