
#under-main1 {
    background-color: white;
    color: black;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

#col3,
#col4 {
    flex: 1;
}

.main-articles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.main-article {
    flex: 1;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    display: flex;
}

.main-article img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.main-article aside {
    flex: 1;
}

#m1,
#m2 {
    margin-top: 20px;
}

@media (max-width: 900px) {
    .main-article {
        flex-direction: column;
    }

    .main-article img {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

.main-article {
    display: flex;
    align-items: flex-start;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
}

.main-article img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.main-article aside {
    flex: 1;
}

@media (max-width: 900px) {
    .main-article {
        flex-direction: column;
    }

    .main-article aside {
        order: -1;
    }
}
