
body {
    display:flex;
    background-color: black;
    margin:0px;
    padding:0px;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#hi {
    background-color: #6F86FF;
}

#half1{
    margin: 0px;
    padding:0px;
    width:50%;
    background-color:grey;
}

#changeImg {
    padding-left:150px;
    padding-top:50px;
}

#half2{
    width:50%;
    background-color:black;
}

#main-nav {
    padding-left:50px;
    padding-top:10px;

}
#main-nav ul li{
    display:inline-block;
}

#main-nav a{
    text-decoration:none;
    color:white;
    font-weight: bold;
    padding-left:20px;
}

#this {
    text-decoration: underline;
    color:white;
}

#main-content {
    color:white;
}

#main-content h1{
    font-size:30px;
    margin-top: 0; /* Remove margin */
    margin-bottom: 10px;
}

#main-content h2 {
    font-weight: 100;
    margin-top: 0; /* Remove margin */
    margin-bottom: 10px;
}

article {
    padding-left:140px;
    padding-right:80px;
    padding-top:140px;
}

#logo {
    padding-left:70px;
    padding-top:10px;
}

/*Ham*/

/* base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

a {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: #6F86FF;
}



/* off-screen-menu */
.off-screen-menu {
    background-color:  rgb(34, 37, 49);
    height: 100vh;
    width: 50px;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}
.off-screen-menu.active {
    right: 0;
}



/* ham menu */
.ham-menu {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
}
.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: white;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

@media (min-width:900px) {
    .ham-menu {
        display:none
    }
}

@media (max-width: 900px) {
        .ham-menu {
            display: block;
        }
        #main-nav {
            display:none;
        }
        body {
            flex-direction: column;
        }
}