body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    justify-content: space-between;
}

#main-nav {
    margin-top: 10px;
    padding-bottom: 40px;
    margin-right: 50px;
}

#main-nav ul li {
    padding-left: 5px;
    display: inline-block;
}

#main-nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-left: 20px;
}

#logo {
    padding-left: 60px;
    padding-top: 7px;
}

/* base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

a {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #6F86FF;
}

/* off-screen-menu */
.off-screen-menu {
    background-color: rgb(34, 37, 49);
    height: 100vh;
    width: 100%; /* Set width to 100% */
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -100%; /* Initial position off the screen */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: 0.3s ease;
    z-index: 1000; /* Ensure it's above other content */
}

.off-screen-menu.active {
    right: 0;
}

/* ham menu */
.ham-menu {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
    z-index: 1100; /* Ensure it's above other content */
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span {
    background-color: white;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

@media (min-width: 900px) {
    .ham-menu {
        display: none;
    }
}

@media (max-width: 900px) {
    .ham-menu {
        display: block;
    }

    #main-nav {
        display: none;
    }

    body {
        flex-direction: column;
    }

    #logo {
        padding-left:0px;
    }
}

#this a{
    text-decoration: underline;
}

#main {
display:flex;
justify-content: space-between;
padding-right:50px;
padding-left:50px;
padding-top:30px;
}

#languages {
    width:350px;
    color:black;
    background-color: white;
    border-radius: 5px;
}

#languages h1{
    text-align:center;
}
#languages p {
    text-align: left;
    padding-left:10px;
}
#technologies {
    width:350px;
    background-color: white;
    border-radius: 5px;
}

#technologies h1{
    font-size: 30px;
    text-align:center;
}

#certifications {
width:350px;
background-color: white;
border-radius: 5px;
}

.exp {
    font-size: small;
    color: gray;
    margin-left:16px;
}

.spec {
    margin-left:20px;
    margin-top:30px;
}

#languages {
    padding-bottom:30px;
}

#technologies {
    padding-bottom:30px;
}

#certifications {
    padding-bottom:30px;
    text-align: left;
}

#certifications h1 {
    text-align:center;

}