/* Structure */
body {
    margin: 0;
    padding: 0;
    background: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main,#main2{
    text-align: center;
}

#houses-section {
    max-width: 90%;
    margin: 10px auto;
    border-radius: 3px;
    padding: 10px;
}

section {
    background: blanchedalmond;
    padding: 5px;
    border-radius: 2px;
    max-width: 90%;
    margin: 20px auto;
}

img {
    padding: 15px;
    max-width: 350px;
    max-height: 700px;
}

#house-img {
    flex: 2;
    text-align: center;
}

#house-text {
    flex: 8;
    padding: 0 10px 0 10px;
}

.floor-plan {
    max-width: 100px;
    margin: 5px;
}

/* Typography */

.bold {
    font-weight: bold;
}

h2 {
    font-size: 1.8em;
}